@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500 dark:bg-blue-400 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-600 dark:bg-blue-500;
}
